@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@300;400;500;600;700&display=swap');

* {
  margin: 0;
  font-family: "Quicksand", sans-serif;
  color: #000;
}

.navbar {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 20px 40px;
  background-color: #000;
}

.navbar .links {
  display: flex;
  justify-content: space-between;
  align-items: center;
  color: white;
}
.navbar h2 {
  color: white;
}
.navbar a {
  margin-left: 25px;
  font-size: 15px;
}
.navbar .logoContainer {
width: 100px;

}